ThreadedSerialReader/__pycache__/SerialReader.cpython-39.pyc
ThreadedSerialReader/RTA-data/.owncloudsync.log
ThreadedSerialReader/RTA-data/.sync_bc8924e73af5.db-wal
ThreadedSerialReader/RTA-data/.sync_bc8924e73af5.db
ThreadedSerialReader/RTA-data/Desktop.ini
